<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision Connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
   <div class="banner">
    <div class="navbar">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('services') }}">Services</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>WELCOME TO VISION CONNECT</h1>
        <p>Connecting the world with the power of technology</p>

        <div>
            <button type="button"><span></span>LEARN MORE</button>
            <button type="button" onclick="window.location.href='https://accounts.google.com/signin'"><span></span>LOGIN WITH GOOGLE</button>
        </div>
    </div>
</body>
</html>